<h2>messages</h2>
<ul id="messages">
	<% @messages.each do |msg| %>
		<li class="message">
			<div class="sender"><%= msg.from['username'] %></div>
			<div class="body"><%= msg.message %></div>
		</li>
	<% end %>
</ul>

<br/>
<%= link_to 'Users', users_path %>
