<h1>Listing users</h1>

<table id="users">
	<thead>
	<tr>
		<th>Username</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @users.each do |user| %>
		<tr class="user">
			<td class="username"><%= user.username %></td>
			<td class="show"><%= link_to 'Show', user %></td>

			<% unless current_user? user %>
				<% if current_user.is_follower_of(user) %>
					<td class="unfollow"><%= link_to 'Unfollow', controller: "users", action: "unfollow", username: user.username %></td>
				<% else %>
					<td class="follow"><%= link_to 'Follow', controller: "users", action: "follow", username: user.username %></td>
				<% end %>
			<% else %>
			 <td>&nbsp;</td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

